{{define "favoris"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="/static/favicons/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/favoris.css">

    <title>Favorites - Pokémon TCG API</title>
</head>

<body>
    {{template "header"}}
    <main class="content-container">
        <h1>Mes favoris</h1>

        {{if .}}
        <div class="cards-grid">
            {{range .}}
            <div class="card">
                <a href="/selectid?id={{.Data.ID}}">
                    <img src="{{.Data.Images.Small}}" alt="{{.Data.Name}}">
                    <h3>{{.Data.Name}}</h3>
                </a>
                <div class="card-actions">
                    <a class="remove-fav" href="/favorites/remove?id={{.Data.ID}}">Supprimer</a>
                </div>
            </div>
            {{end}}
        </div>
        {{else}}
        <div class="no-results">
            <p>Vous n’avez pas encore de favoris.</p>
            <p><a href="/">Retour à l’accueil</a></p>
        </div>
        {{end}}
    </main>

    {{template "footer"}}
</body>

</html>
{{end}}