{{define "footer"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
    <footer class="footer-class">
        <nav>
            <div class="lien-en-bas">
                <a href="apropos.html" class="apropos">
                    <span class="about">About it</span>
            </a>
            <a href="https://pokemontcg.io/" class="lien-api">
                <span class="api">Pokemon TCG API</span>
            </a>
        </div>
            <p class="copyright">
                © Groupie-Trackers, 2024-2025. All Rights Reserved | Company registered at Ynov Aix Campus.
            </p>
            <div class="block2">
                <a href="https://github.com/LilianLPV/Groupie-Trackers.git">
                    <img src="/static/images/GitHub.png" class="GitHub" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/lilian-le-piver/">
                    <img src="/static/images/Linkedin.png" class="Linkedin" alt="Linkedin">
                </a>
            </div>
        </nav>
        </div>
    </footer>
</body>

</html>

{{end}}