{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <header class="main-header">
        <nav>
        <ul>
            <li ><a href="header.html"><img src="/static/images/Electabuzz.png" class="Electabuzz" alt="Electabuzz"></a></li>
            <li><a href="filtre.html"><img src="/static/images/Filtre.png" class="Filtre" alt="Filtre"></a></li>
            <li><a href="favoris.html"><img src="/static/images/Pokédex.png" class="Pokédex" alt="Pokédex"></a></li>
    </ul>
    <div class="search">
        <form>
            <input type="text" placeholder="Search...">
            <button class="bouton" type="submit">
                    <img src="/static/images/Recherche-removebg-preview.png" class="recherche" alt="bouton">
            </button>
        </form>

    </div>
    </nav>
    </header>
</body>
</html>
{{end}}

