{{define "selectid"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="/static/favicons/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/selectid.css">

    <title>SelectID {{.Data.ID}}</title>
</head>

<body>
    {{template "header"}}

    <main class="container">
        <div class="card">
          <img src="{{.Data.Images.Small}}" alt="{{.Data.Name}}">
          <p>{{.Data.Name}}</p>
          <p>{{.Data.ID}}</p>
          <p>{{.Data.Types}}</p>
        </div>
      </main>
    {{template "footer"}}

</body>

</html>
{{end}}