.container {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("http://localhost:8080/static/images/body_bg.png");
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apitest {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.swiper {
    width: 600px;
    display: flex;
}

.image {
    justify-content: center;
    width: 50%;
    height: 50%;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
}

.couleur {
    color: #000;
}



.dracaufeu {
    height: auto;
    width: 300px;
}

.florizarre {
    height: auto;
    width: 300px;
}

.logo-pokemon{
    margin: 15px 0px;
    display: flex;
    justify-content: center;
}

.LOGOOO {
    height: auto;
    width: 500px;
}

@media screen and (max-width: 500px) {
    .couleur {
        color: red;
    }
}

@media screen and (max-width: 300px) {
    .couleur {
        color: green;
    }
}