body {
    background-image: url("http://localhost:8080/static/images/body_bg.png");
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}