* {
    margin: 0;
    padding: 0;
}


nav {
    background-color: #b94c4c;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Electabuzz {
    height: auto;
    width: 90px;
    cursor: pointer;
}

.Filtre {
    height: auto;
    width: 30px;
    cursor: pointer;
}


.Pokédex {
    height: auto;
    width: 100px;
    cursor: pointer;
}

.search>button {
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    cursor: pointer;
}

.icon {
    width: 30px;
}

.search {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 28px;
    background-color: #fff;
    width: 44vw;
}

.search input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    font-family: 'PokemonSolid', sans-serif;

}

.filtrecache {
    display: none;
}